html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
header {
    padding-top: 30px;
    text-align: center;
}
h1 {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #ef4918;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.contenido {
    background-color: white;
}
span#code-bagde {
    color: white;
    font-size: 2.9rem;
}
div.navegacion {
    background-color: #ef4918;
    margin-top: 40px;
}
nav.bar-nav {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
nav ul {
    list-style: none;
}
nav > ul > li {
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    float: left;
}
nav ul::after {
    content: '';
    display: block;
    clear: both;
}
nav.bar-nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
nav ul li a:hover {
    background-color: #d34013;
}
ul.list li a {
    text-align: center;
    text-decoration: none;
    color:white;
    background-color: #ef4918;
    padding: 16px;
    display: inline-block;
    width: 252px;
}
article {
    padding-top: 30px;
    padding-right: 400px;
    padding-bottom: 50px;
}
h3 {
    padding-bottom: 20px;
    color: rgb(62, 211, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}
article img {
    float: left;
    width: 300px;
    margin-right: 30px;
    margin-left: 30px;
}
article p {
    line-height: 2;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
article a {
    float: right;
}
a#btn {
    text-decoration: none;
    color: white;
    background-color: #ef4918;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding: 8px;
    border-radius: 6px;
}
a#btn:hover {
    background-color: yellow;
    border: 1px solid black;
    color: black;
}
section.comprar {
    background-color: rgb(235, 230, 230);
    border: 2px solid #ef4918;
    border-radius:8px;
    padding: 20px;
    float: right;
    margin-top: -500px;
    margin-right: 50px;
}
section h4 {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section p {
    text-align: center;
}
button {
    cursor: pointer;
}
section button#btn-buy {
    margin-left: 88px;
    margin-top: 15px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ef4918;
    border: #ef4918;
    color: white;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section button#btn-buy:hover {
    background-color: #dd0909;
}
section button.signo {
    background-color: #ef4918;
    border: #ef4918;
    color:white;
    padding: 6px;
    margin: 8px;
    font-size: 12px;
    font-weight: bolder;
}
section button.signo:hover {
    background-color: #dd0909;
}
input {
    border-radius: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-color: rgb(158, 151, 151);
    text-align: center;
    -webkit-appearance: none;
}
